extends layout

block content
  h2 #{title}.
  div.row
    p.col-md-4
      span#date-label Date
      input#ip-date.form-control(type="date")

    p.col-md-4
      span Search 
      input#ip-search.form-control(type="text", placeholder="You can use regex also")
      a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Using_special_characters") regex
  button#fetch-data.btn Find data

  br
  br

  div
  - if not data
      p No data available.
  - else
      div.row
        p Showing #{current_page} of #{total_pages} pages, #{total_records_in} records of #{total_records}
        div.pull-right
          if (current_page > 0)
            a.btn#previous < Previous
          if (current_page < total_pages)
            a.btn#next Next >
      table.table.table-striped.table-hover
        thead
          tr
            th Code
            th Name
            th Group
            th Type
            th Open
            th High
            th Low
            th Close
            th Last
            th Previous close
            th No of Trades
            th No. of shrs
            th Net turnover
        tbody
          each item in data
            tr
                each key in item
                    td 
                        p #{item[key]}
                            
  script(src='/static/scripts/app.js')
